@import "tailwindcss";

@import "./shadcn-ui.css";
@import "./fonts.css";
@import "./theme.css";
@import "./theme.utilities.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: hsl(var(--border, currentColor));
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-muted-foreground);
  }
}